<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<style>
#main {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  background-color: rgb(59, 58, 62);
}
#box {
  width: 40%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: relative;
  border: 2px solid black;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  background-color: black;
  padding-top: 50px;
}
h3 {
  font-size: 2vw;
  margin-bottom: 40px;
}
#up {
  width: 60%;
  position: relative;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input {
  padding: 15px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid grey;
  font-size: 1.2vw;
  color: white;
}
#login input[type=submit] {
  margin-bottom: 35px;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 156, 16);
  padding: 12px;
  font-weight: 650;
  margin-top: 10px;
  cursor: pointer;
}
button {
  background-color: white;
  color: black;
  padding: 14px;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 40px;
}
button img {
  width: 20px;
}
button:hover {
  background-color: rgb(220, 217, 217);
  cursor: pointer;
}
button a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  gap: 10px;
  font-weight: 500;
  font-size: 1.1vw;
  text-decoration: none;
}
#forgot {
  color: white;
  background-color: transparent;
  padding: 13px;
  font-weight: 650;
  cursor: pointer;
  margin-bottom: 70px;
}
h4 {
  font-size: 1.2vw;
}
h4 a {
  color: rgb(53, 156, 16);
  text-decoration: none;
}
h4 a:hover {
  text-decoration: underline;
  cursor: pointer;
}
img {
  width: 250px;
  position: relative;
  margin-bottom: 50px;
}
.alert {
  width: 100%;
  padding: 15px;
  background-color: #f44336;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}
.alert .closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.alert .closebtn:hover {
  color: black;
}

</style>
<body>
  <div id="main">
    <div id="box">
      <img src="../images/spotify-logo.jpg" alt="">
      <div id="up">
        <form action="/login" method="post" id="login">
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" value="Sign in">
        </form>
        <form action="/forgot-password">
          <input  id="forgot" type="submit" value="Forgot password?">
        </form>
        <h4> Don't have an account? <a href="/signup">Sign up</a> </h4>
      </div>
    </div>
  </div>
  
  <script>
    function closeAlert() {
      var alertBox = document.getElementById("alertMessage");
      alertBox.style.display = "none";
    }
  </script>
</body>
</html>
